@import "../hypr/colors.css";

* {
  font-family: "FiraCode Nerd Font Propo";
  font-size: 16px;
  min-height: 0;
}

window#waybar { 
  background-color: alpha(@background1, 0.9);
  color: @text;
  border-bottom: 2px solid @accent;
  box-shadow: 1px 2px 30px 2px rgba(17,17,27,0.87);
}

tooltip {
  background: @background1;
  border: 1px solid @accent;
  border-radius: 10px;
  box-shadow: 1px 2px 30px 2px rgba(17,17,27,0.87);
}

tooltip label{
  font-size: 14px;
  color: @accent;
}

menu {
	background:  @background1;
	color: @accent;
  border: 1px solid  @accent;
  font-size: 14px;
  border-radius: 10px;
  box-shadow: 1px 2px 30px 2px rgba(17,17,27,0.87);
}

menu :hover {
  color:  @accent;
  background-color:  @background2;
  border-left: 1px solid @accent;
  border-right: 1px solid @accent;
}

.modules-left {
	padding: 0px 0px 0px 0px;
}

.modules-right {
	padding: 0px 5px 0px 0px;
}

#tray,
#clock,
#bluetooth,
#pulseaudio,
#network,
#language,
#custom-shutdown,
#custom-menu,
#workspaces button {
  border-radius: 0;
	padding: 0px 11px 0px 11px; 
 	min-width: 1px;
	color: @text;
}

#workspaces button.active { 
	padding: 0px 11px 0px 11px; 
	color: @accent;
}

#workspaces button:hover {
  background: @accent;
  color:  @background2;
}

#language {
  font-weight: bold;
}

#pulseaudio.muted {
  background-color: @background2;
  color: @accent;
  border-bottom: 1px solid @accent;
}

#clock {
  font-weight: bold;
}

#bluetooth,
#network {
  font-size: 20px;
}

#tray > .needs-attention {
	border-bottom: 2px solid @error;
}

#custom-menu {
  font-size: 22px;
}

#custom-menu:hover,
#custom-shutdown:hover,
#bluetooth:hover,
#pulseaudio:hover {
  background: @accent;
  color:  @background2;
}
